.recent {
  font-family: inherit;
  padding: 30px 150px;
  background: #edf7fa;
}

.recent__first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  margin-bottom: 20px;
}

.first__text {
  font-size: 22px;
  margin: 0;
}

.first__link {
  color: #00a8cc;
  text-decoration: none;
  font-size: 16px;
}

.recent__second {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.recent__box {
  border-radius: 4px;
  width: 390px;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(187, 225, 250, 0.25);
  padding: 22px;
}

.box__title {
  font-weight: 700 !important;
  font-size: 26px;
  color: #000;
  margin: 0;
  margin-bottom: 17px;
}

.inside__box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inside__box p {
  margin: 0;
  margin-right: 20px;
}

.inside_first {
  padding-right: 20px;
  border-right: 1px solid #000;
}

.box__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}
