.header {
  font-family: inherit;
  padding: 150px 150px 70px;
  display: flex;
  justify-content: space-between;
}

.headling {
  font-weight: 700;
  font-size: 44px;
  line-height: 136%;
  margin-bottom: 40px;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 38px;
}

.btn {
    border: none;
  border-radius: 2px;
  width: 208px;
  height: 47px;
  background: var(--primary-second-color);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
