:root {
    width: 1152px;
    --primary-color: #FE724C;
    --primary-hover-color: #DF6442;
    --text-color: #000000;
    --text-secondary-color: #5B5B5E;
    --white-color: #FFFFFF;
    --separator-color: #D4D6E0; 
    --primary-second-color: #FF6464;
    --font: "Heebo", sans-serif;
    --second-font: "Circular Std", sans-serif;
}

body {
    font-family: "Heebo", sans-serif;
    margin: 0;
}